/* Variables for set colors */
:root {
    --color1: #000000;
    --color2: #F5F5DC;
    --color3: #00CAB1;
    --color4: #EA00FF;
}

/* All page margin and padding settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Body main style */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color2);
    background-color: var(--color1);
}
/*Header style*/
header {
    background-color: var(--color1);
    height: 180px;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    align-items: center;
    text-align: center;
    top: 0;
    z-index: 999;
}
/* Header Logo styling */
header a img {
    width: 50%;
    height: auto;
    justify-content: space-around;
}
/* Navigation bar style */
nav {
    display: block;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
    padding: 15px;
    align-items: center;
    display: block;
    width: 100%;
}

header a:hover {
    color: var(--color2);
    text-shadow: 2px 2px 5px var(--color4);
}

/* Hero section style */
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
}
.hero {
    background-image: url("../images/blue-pink-waves.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
main h1{
    color: var(--color2);
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

/* Section Styling */
section {
    margin: 0px;
    padding: 150px 50px 0px 50px;
}

/*Button styles */
.buttons {
    font-size: 25px;
    margin: 15px;
    padding: 25px;
    text-align: center;
}
button {
    background-color: var(--color1);
    border-bottom: 1px solid var(--color4);
    border-left: 1px solid var(--color4);
    border-radius: 10px;
    color: var(--color2);
    margin: 10px;
    padding: 15px;
}

button:hover{
    box-shadow: 0 0 15px 0 var(--color4),
                0 0 15px 0 var(--color4),
                0 0 10px 0 var(--color4) inset;
}

/* H2 font style */
h2{
    color: var(--color2);
    font-size: 45px;
    padding: 10px;
    text-align: left;
    border-bottom: solid var(--color3);
    border-bottom-left-radius: 10px;
}

/*H3 font style */
h3 {
    color: var(--color2);
    font-size: 25px;
    margin: 10px;
    padding: 25px;
    text-align: center;
}

/* Projects Section styling */
.projects {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prjcts {
    margin: 50px 0 25px 0;
    flex: 1;
}

.prjcts img {
    width: 100%;
}

/* About section styling */
.profile {
    margin: 3.5%;
    align-items: left;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.profile img {
    width:100%;
    margin: 0;
    padding: 25px;
}

.profile p {
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    text-align: justify;
    line-height: 1.2;
}
/* Form Style */
.form {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
}
form {
    width: 80%;
    margin: 3.5%;
    border: 2px solid var(--color4);
    background-color: var(--color1);
    padding: 20px;
    color: var(--color2);
}

input {
    border-bottom: 1px solid var(--color4);
    border-top: solid var(--color1);
    border-left: solid var(--color1);
    border-right: solid var(--color1);
    display: block;
    justify-content: flex-start;
    background-color: var(--color1);
    padding: 7px 10px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
label {
    margin: 0 10px 10px 0;
    padding: 15px 0 15px 0;
    font-size: 18px;
}

/* Footer style*/
footer {
    background-color: var(--color1);
    height: 150px;
    padding: 25px 0 0 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-image: url("../images/blue-pink-stream.png");
    background-position: center;
    background-size: cover;
}

/* Media Query for Smaller desktop screens or smaller */
@media screen and (max-width: 980px) {
    header{
        height: 150px;
    }
    nav ul li a {
        font-size: 30px;
        width: 100%;
        justify-content: center;
    }
    header a img {
        justify-content: center;
        width: 50%;
        object-position: center;
    }
    main{
        height: auto;
    }
    .hero {
        background-image: url("../images/blue-pink-waves-sml-screen.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }    
}

/* Media Query for Tablets and smaller */
@media screen and (max-width: 768px){
    nav ul li a {
        font-size: 25px;
        width: 100%;
        justify-content: center;
    }
    header a img {
        justify-content: center;
        width: 50%;
        object-position: center;
    }
    main {
        height: auto;
    }

    .hero {
        background-image: url("../images/blue-pink-waves-tblts.png");
        background-size: auto;
        background-position: top;
    }
    main h1{
        font-size: 45px;
        padding: 100px 0;
    }
    h2{
        font-size: 35px;
    }
    h3 {
        padding: 15px;
    }
    .projects {
        padding: 10px;
    }
    .profile {
        margin: 0;
        align-items: center;
        display: inline-block;
        justify-content: center;
    }    
    .profile p {
        font-size: 18px;
    }
}

/* Media Query for mobile devices and smaller */
@media screen and (max-width: 575px){
    nav ul li a {
        font-size: 15px;
        padding: 10px;
        width: 100%;
        justify-content: center;
    }
    header a img {
        justify-content: center;
        width: 50%;
        object-position: center;
    }
    main {
        height: auto;
    }
    .hero {
        background-image: url("../images/blue-pink-waves-mobile.png");
        background-size: auto;
    }
    main h1{
        font-size: 35px;
        padding: 50px 0;
    }
    section {
        margin: 0px;
        padding: 50px 25px 0px 25px;
    }
    h2{
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }
    .prjcts {
        margin: 25px 0 15px 0;
    }
    .profile p {
        font-size: 15px;
    }
    label {
        font-size: 14px;
    }
}