/* Variables for set colors */
:root {
    --color1: #000000;
    --color2: #F5F5DC;
    --color3: #00CAB1;
    --color4: #EA00FF;
}

/* All page margin and padding settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Body main style */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color2);
    background-color: var(--color1);
}
/*Header style*/
header {
    background-color: var(--color1);
    height: 200px;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    align-items: center;
    text-align: center;
    top: 0;
    z-index: 999;
}
header a img {
    width: 50%;
    height: auto;
    justify-content: space-around;
}
/* Navigation bar style */
nav {
    display: block;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
    padding: 15px;
    align-items: center;
    display: block;
    width: 100%;
}

header a:hover {
    color: var(--color2);
    text-shadow: 2px 2px 5px var(--color4);
}

/* Hero section style */
.hero {
    background-image: url("../images/blue-pink-waves.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
    height: 2667px;
}



/* Section Styling */
section {
    margin: 0px;
    padding: 50px;
}

/*Button styles */
.buttons {
    font-size: 25px;
    margin: 15px;
    padding: 25px;
    text-align: center;
}
button {
    background-color: var(--color1);
    border-bottom: 1px solid var(--color4);
    border-left: 1px solid var(--color4);
    border-radius: 10px;
    color: var(--color2);
    margin: 10px;
    padding: 15px;
}

button:hover{
    box-shadow: 0 0 15px 0 var(--color4),
                0 0 15px 0 var(--color4),
                0 0 10px 0 var(--color4) inset;
}
/* H1 font style */
h1 {
    color: var(--color2);
    font-size: 50px;
    padding: 10px;
    text-align: center;
    padding: 260px;
    z-index: 3;    
}
/* H2 font style */
h2{
    color: var(--color2);
    font-size: 45px;
    padding: 10px;
    text-align: center;
    border-bottom: solid var(--color3);
}

/*H3 font style */
h3 {
    color: var(--color2);
    font-size: 25px;
    padding: 15px;
    text-align: left;
}

/* Media Query for Smaller desktop screens or smaller */
@media screen and (max-width: 980px) {
    nav ul li a {
        font-size: 30px;
        width: 100%;
        justify-content: center;
    }
    header a img {
        justify-content: center;
        width: 50%;
        object-position: center;
    }
    h1 {
        font-size: 35px;
        padding: 10px;
    }
    .hero {
        height: 1334px;
    }
}

/* Media Query for Tablets and smaller */
@media screen and (max-width: 768px){
    nav ul li a {
        font-size: 25px;
        width: 100%;
        justify-content: center;
    }
    header a img {
        justify-content: center;
        width: 50%;
        object-position: center;
    }
    h1 {
        font-size: 30px;
    }
    .hero {
        height: 667px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

/* Media Query for mobile devices and smaller */
@media screen and (max-width: 575px){
    nav ul li a {
        font-size: 16px;
        width: 100%;
        justify-content: center;
    }
    header a img {
        justify-content: center;
        width: 50%;
        object-position: center;
    }
    h1 {
        font-size: 25px;
    }
    .hero {
        height: 333px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}