/* All page margin and padding settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Variables for set colors */
  :root {
      --color1: #000000;
      --color2: #F5F5DC;
      --color3: #00CAB1;
      --color4: #EA00FF;
  }
/* Body main style */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color2);
    background-color: var(--color1);
}
/*Header style*/
header {
    background-color: var(--color1);
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}
header a img {
    width: 35%;
    height: auto;
}
/* Navigation bar style */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 50px;
}
header nav ul li a {
    font-size: 1.55vw;
}

header a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
    font-size: 35px;
    margin:0 30px 20px 0px;
}
header a:hover {
    color: var(--color2);
    text-shadow: 2px 2px 5px var(--color4);
}

/* Hero section style */
.hero {
    background-image: url("../images/blue-pink-waves.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}
/* Section Styling */
section {
    margin: 0px;
    padding: 50px;
}
/* Table styling */
#project-tbl{
    width: 100%;
    height: 100%;
    padding: 5px;
}
#project-tbl tr td {
    padding: 20px;
}
.table-image {
    height: 100%;
    width: 100%;
}
/*Button styles */
.buttons {
    font-size: 25px;
    margin: 15px;
    padding: 25px;
    text-align: center;
}
button {
    background-color: var(--color1);
    border-bottom: 1px solid var(--color4);
    border-left: 1px solid var(--color4);
    border-radius: 10px;
    color: var(--color2);
    margin: 10px;
    padding: 15px;
}

button:hover{
    box-shadow: 0 0 15px 0 var(--color4),
                0 0 15px 0 var(--color4),
                0 0 10px 0 var(--color4) inset;
}
/* H1 font style */-
h1 {
    color: var(--color2);
    font-size: 45px;
    padding: 10px;
    text-align: center;
    border-bottom: solid var(--color3);
}
/* H2 font style */
h2{
    color: var(--color2);
    font-size: 50px;
    padding: 10px;
    text-align: center;
    padding: 260px;
    z-index: 3;
}

/*H3 font style */
h3 {
    color: var(--color2);
    font-size: 25px;
    padding: 15px;
    text-align: left;
}
/* About Section style */
#about {
    margin: 0px;
    padding: 50px;
    position: relative;
}
#about div img {
    height: 300px;
    width: 300px;
    padding: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}
p {
    color: var(--color2);
    position: absolute;
    left: 400px;
    top: 180px;
    width: 1000px;
}
/* Contact section */
#contact {
    margin: 0px;
    padding: 50px;
}
#contact div h3 {
    text-align: center;
    margin: 30px;
    padding: 20px;
}
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}
label {
    color: var(--color2);
    margin: 25px 0 0 0;
    padding: 20px;
    display: inline-block;
}
input {
    resize: horizontal;
    outline: none;
    background: var(--color1);
    color: var(--color2);
    border-bottom: var(--color4) solid;
    border-top: var(--color1);
    border-left: var(--color1);
    border-right: var(--color1);
}
#form-btn {
    display: inline-block;
    width: 50%;
}
